*{
    margin: 0;
    padding: 0;
    font-family: JetBrainsMono;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: "JetBrainsMono" ;
    src: url("public/fonts/ttf/JetBrainsMonoNL-MediumItalic.ttf");
}
